@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for print */
@media print {
  body {
    background: white;
  }

  .print\:hidden {
    display: none !important;
  }

  .print\:block {
    display: block !important;
  }
}
